.blog {
	padding-bottom: 50px;
	@media (max-width: $md3+px) {
		padding-bottom: 30px;
	}
	&__title {
		background-image: url('../img/article/blog/Layer_4.webp');
		background-color: #44c0c2;
		padding: 70px 0px 60px 0px;
		background-size: cover;
		text-align: center;
		color: #fff;
		@media (max-width: $md3+px) {
			
		}
	}
	&__date {
		margin: 0 30px 0 0;
		padding: 20px 18px;
		color: #fff;
		text-align: center;
		max-width: 70px;
		height: 100px;
		background-color: #44c0c2;
		border-radius: 3px;
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	&__sidebar {
		display: flex;
		@media (max-width: $maxWidthContainer+px) {
			flex-direction: column;
		}
	}
	&__item {
		margin-right: 70px;
		@media (max-width: $md3+px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__column {
		display: flex;
		margin: 75px 0px 78px 0px;
		@media (max-width: $md3+px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	// .blog__article-name
	&__article-name {
		font-size: 30px;
		font-weight: 500;
		display: flex;
		transition: color 0.3s ease 0s;
		margin: 0px 0px 10px 0px;
		color: inherit;
		@media (max-width: $md3+px) {
			margin-bottom: 30px;
		}
		@media (max-width: $md3+px) {
			font-size: 26px;
			&::before {
			content: '22 sep 2013';
			margin: 0 30px 0 0;
			padding: 20px 18px;
			color: #fff;
			font-size: 14px;
			text-align: center;
			width: 70px;
			height: 100px;
			background-color: #44c0c2;
			border-radius: 3px;
			}
		}
	}
	// .blog__items
	&__items {
		
	}
	// .blog__item
	
	&__paragraph {
		margin-bottom: 26px;
		
	}
	// .blog__info
	&__info {
		font-size: 20px;
	}
	&__image {
    	
		@media (min-width: $md4+px) {
			float: left;
			margin: 0 25px 25px 0;
		}
		@media (max-width: $md4+px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__photo {
		
	}
	// .blog__separator
	&__separator {
		margin: 0px 15px;
	}
	// .blog__category
	&__aside-categories {
		margin-bottom: 56px;
	}
	
	// .blog__text
	&__text {
		margin: 50px;
	}
	&__aside {
		margin-top: 94px;
		@media (max-width: $maxWidthContainer+px) {
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__search {
		margin-bottom: 60px;
	}
	&__aside-follow {
	
	}
	&__aside-social {
		
	}
	&__social-item {
		
		width: 42px;
		height: 42px;
		border-radius: 50%;
		text-align: center;
		&+& {
			margin-left: 15px;
		}
		&:nth-child(1) {
			background-color: #3b5997;
			padding-top: 12px;
		}
		&:nth-child(2) {
			background-color: #3ec2f3;
			padding-top: 14px;
		}
		
		&:nth-child(3) {
			background-color: #e44c41;
			padding: 11px 7px;
		}
	}
	&__aside-title {
		color: #414a5a;
		font-size: 26px;
		text-transform: capitalize;
		margin-bottom: 30px;
		@media (max-width: $md1+px) {
			text-align: center;	
		}
	}
	&__categories-link {
		line-height: 36px;
		&::before {
			content: '';
			background-image: url(../img/blog/.webp);
			width: 6px;
			height: 9px;
			display: inline-block;
			margin: 0 10px 0 0;
		}	
		&:hover {
			color: #fff;
			background-color: #485460;
			padding: 10px;
			transition: .3s ease 0s;
		}
		
	}
	&__popular {
		margin-bottom: 56px;
		@media (max-width: $md1+px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__popular-image {
		margin: 26px 0px 36px 0px;
	}
	&__popular-img {

	}
	&__popular-footer {
		display: flex;
		justify-content: space-between;
	}
	&__popular-text {
		line-height: 22px;
    	margin-bottom: 36px;
	}
	&__aside-recent {
		margin-bottom: 50px;
	}
	&__recent-link {
		line-height: 36px;
		&::before {
			content: '';
			width: 6px;
			height: 6px;
			border-radius: 50%;
			display: inline-block;
			background-color: #49cbcd;
			margin: 0 10px 0 0;
		}
	}
	&__aside-tags {
		margin-bottom: 50px;
	}
	&__aside-menu {
		display: flex;
		flex-wrap: wrap;
	}
	&__aside-link {
		margin: 10px 10px 0 0;
		background-color: #f8f9fb;
		border-radius: 5px;
		padding: 10px;
		&:hover {
			background-color: #49cbcd;
    		color: #fff;
		}
	}
	&__button {
		display: inline-block;
    	margin: 15px 0 27px 0;
		text-transform: capitalize;
		&::after {
			content: '';
			background-image: url(../img/blog/.webp);
			width: 5px;
			height: 9px;
			color: #a88fd8;
			display: inline-block;
			margin: 0 10px 0 0;
		}
	}
	&__aside-social {
		margin-bottom: 46px;
		display: flex;
	}
	&__email {
		margin-bottom: 30px;
	}
	&__subscribe {
		background-color: #49cbcd;
    	color: #fff;
		display: inline-flex;
		border-radius: 5px;
		width: 170px;
		height: 40px;
		justify-content: center;
		align-items: center;
		text-transform: capitalize;
		margin-bottom: 52px;
	}
	&__footer {	
		position: relative;
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: #8695a4;
			position: absolute;
			bottom: 30px;
		}
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: #8695a4;
			position: absolute;
			top: 30px;
		}
		@media (max-width: $md2+px) {
			&::after, &::before {
				display: none;
			}
			margin-top: 0px;
		}
		
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md2+px) {
			flex-direction: column;
			align-items: flex-start;
			line-height: 36px;
		}
	}
	&__link {
		margin-right: 30px;
		@media (max-width: $md2+px) {
			margin: 0 auto;
			line-height: 36px;
		}	
		&::before {
			content: '';
			background-image: url(../img/blog/.webp);
			width: 6px;
			height: 9px;
			display: inline-block;
			margin: 0 10px 0 0;
		}	
		&:hover {
			color: #fff;
			background-color: #485460;
			padding: 10px;
			transition: .3s ease 0s;
		}
		@media (min-width: $md2+px) {
			&::before, &::after {
				display: none;
			}
		}
	}
}
input[type=search],[type=email] {
	width: 270px;
	height: 42px;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

